
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberShop.Models.CustomerOrderViewModel
@section style{
    <style>
                .alert {
                  padding: 20px;
                  background-color: #f44336;
                  color: white;
                  opacity: 1;
                  transition: opacity 0.6s;
                  margin-bottom: 15px;
                }

        .alert.success {background-color: #58EA64;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        .closebtn:hover {
          color: black;
        }
    </style>
     }
<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <h3><i class="fas fa-money-bill" style="margin-right: 10px"></i>Thanh toán</h3>
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active">Thanh toán</li>
    </ul>
    @if (ViewBag.Success != null)
    {
        <div class="alert success">
            <span class="closebtn">&times;</span>
            <strong></strong>Đặt hàng thành công
        </div>
    }
    else {}
    <table>
        <tr>
            <th style="width: 20%;">Sản phẩm</th>
            <th style="width: 40%;">Tên sản phẩm</th>
            <th style="width: 10%;">Số lượng</th>
            <th style="width: 20%;">Giá</th>
            <th style="width: 10%;">Tác vụ</th>
        </tr>
        <tr ng-repeat="item in cartList">
            <td><img style="max-width: 200px;max-height:200px;" ng-src="{{item.Image}}"></td>
            <td><a href="#">{{item.ProductName}}</a></td>
            <td>{{item.Quanlity}}</td>
            <td>{{item.Price | currency:"":0}}đ</td>
            <td><a ng-click="RemoveItem(item.id)"><i class="fas fa-trash action"></i></a></td>
        </tr>
        <tr class="Total-Payment">
            <td colspan="3">Tổng tiền</td>
            <td colspan="2">{{bucket.total_amount | currency:"":0}}đ</td>
        </tr>
    </table>
    <h1 style="text-align: center; margin: 50px;">Điền thông tin</h1>
    <div class="error" id="Post_Error">
        <ul>
            @Html.ValidationSummary(false, "", "alert alert-danger")
        </ul>
    </div>
    <form action="/Pay/Index" method="post" name="formThanhToan">
        <div class="row">
            <div class="col-md-6 input-info">
                <h6>
                    @*<input type="text" placeholder="Họ và tên..." name="search">*@
                    @Html.TextBoxFor(model => model.CustomerName, new { @type = "text", @placeholder = "Họ và tên...", @name = "search",@ng_model="CustomerName",@required=true, })
                    <span style="color:red" ng-show="formThanhToan.CustomerName.$touched && formThanhToan.CustomerName.$invalid">Bạn chưa nhập họ tên</span>
                </h6>
                <h6>
                    @*<input type="text" placeholder="Email..." name="search">*@
                    @Html.TextBoxFor(model => model.Email, new { @type = "text", @placeholder = "Email...", @name = "search", @ng_model = "Email", @required = true, })
                    <span style="color:red"" ng-show="formThanhToan.Email.$touched && formThanhToan.Email.$invalid">Bạn chưa nhập Email</span>
                </h6>
                <div class="discount">
                    <input type="text" placeholder="Mã giảm giá..." name="search">
                    <button href="#">Xác nhận</button>
                </div>
                <h3 style="text-align: center; margin: 30px;">Phương thức thanh toán</h3>
                <div class="pay-method" style="text-align: center;">
                    <button id="tt1" class="active" href="#"><div><i style="font-size: 40px; padding: 5px;" class="fas fa-wallet"></i>@Html.RadioButtonFor(model => model.Payment,"Thanh toán khi nhận hàng", new { @value = "Thanh toán khi nhận hàng",@checked=true,@style="display:none", })</div>Thanh toán khi nhận hàng</button>
                    <button id="tt2" href="#"><div><i style="font-size: 40px; padding: 5px;" class="fas fa-money-check-alt"></i></div>Thanh toán qua ngân hàng</button>
                </div>
            </div>
            <div class="col-md-6 input-info">
                <h6>
                    @*<input type="text" placeholder="Số điện thoại..." name="search">*@
                    @Html.TextBoxFor(model => model.PhoneNum, new { @type = "text", @placeholder = "Số điện thoại...", @name = "search", @ng_model = "PhoneNum", @required = true,@id="key", })
                    <span style="color:red" ng-show="formThanhToan.PhoneNum.$touched && formThanhToan.PhoneNum.$invalid">Bạn chưa nhập số điện thoại</span>
                </h6>
                <h6>
                    @*<input type="text" placeholder="Địa chỉ..." name="search">*@
                    @Html.TextBoxFor(model => model.Address, new { @type = "text", @placeholder = "Địa chỉ...", @name = "search", @ng_model = "Address", @required = true, })
                    <span style="color:red" ng-show="formThanhToan.Address.$touched && formThanhToan.Address.$invalid">Bạn chưa nhập địa chỉ</span>
                </h6>

                <div class="form-group">
                    @*<select id="province" class="form-control" data-role="select-dropdown" data-profile="minimal">
                        <option value="" disabled selected>Chọn tỉnh thành...</option>
                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                        <option value="Hà Nội">Hà Nội</option>
                    </select>*@
                   @Html.DropDownListFor(model => model.City,
                    new List<SelectListItem> {
                       new SelectListItem { Value = null , Text = "Chọn tỉnh thành",Disabled=true,Selected=true },
                       new SelectListItem { Value = "Hồ Chí Minh" , Text = "Hồ Chí Minh" },
                       new SelectListItem { Value = "Hà Nội" , Text = "Hà Nội" }
                        },
                    new { @class = "form-control", @data_role = "select-dropdown", @data_profile = "minimal",@ng_model="City",@required=true, })
                    <span style="color:red" ng-show="formThanhToan.City.$touched && formThanhToan.Address.$invalid">Bạn chưa chọn tỉnh thành </span>
                </div>

                <h3 style="text-align: center; margin: 30px;">Phương thức nhận hàng</h3>
                <div class="pay-method" style="text-align: center;">
                    <button id="giaohang" class="active" href="#"><div><i style="font-size: 40px; padding: 5px;" class="fas fa-shipping-fast"></i>@Html.RadioButtonFor(model => model.Receive, "Giao hàng tận tay", new { @style = "display:none", @id = "rd_giaohang" })</div>Giao hàng tận tay</button>
                    @*<button id="nhanhang" href="#"><div><i style="font-size: 40px; padding: 5px;" class="fas fa-store"></i>@Html.RadioButtonFor(model => model.Receive, "Nhận hàng tại Cybershop", new { @style = "display:none" , @id = "rd_nhanhang"})</div>Nhận hàng tại Cybershop</button>*@
                </div>
            </div>
        </div>
        <div class="start-pay">
            <button type="submit" @*ng-click="checkSelection($event)"*@>Thanh toán</button>
        </div>
    </form>
</section>
@section scripts{
    <script>
        document.getElementById('giaohang').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById("giaohang").className = "active";
            document.getElementById("nhanhang").className = "";
            var checkbox = document.getElementById("rd_giaohang");
            checkbox.checked = true;
            //alert("Giao hàng tận tay " + checkbox.checked);
        });
        //document.getElementById('nhanhang').addEventListener('click', function (e) {
        //    e.preventDefault();
        //    document.getElementById("giaohang").className = "";
        //    document.getElementById("nhanhang").className = "active";
        //    var checkbox = document.getElementById("rd_nhanhang");
        //    checkbox.checked = true;
        //    //alert("Nhận hàng tại Cybershop " + checkbox.checked);
        //});
        document.getElementById("tt1").addEventListener('click', function (e) {
            e.preventDefault();
        });
        document.getElementById("tt2").addEventListener('click', function (e) {
            e.preventDefault();
        });
    </script>
    <script>
            var x = document.getElementById("Post_Error");
            var list = x.getElementsByTagName("UL")[0];
            if (list.getElementsByTagName("LI")[0].innerHTML != "") {
                x.style.display = 'inline-block';
            } else {
                x.style.display = 'none';
            }
    </script>
    <script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
    </script>
    <script type="text/javascript">
	    var myInput = document.getElementById('key');
	    myInput.addEventListener('keypress', function(e) {
      var key = !isNaN(e.charCode) ? e.charCode : e.keyCode;
      function keyAllowed() {
        var keys = [8,9,13,16,17,18,19,20,27,46,48,49,50,
                    51,52,53,54,55,56,57,91,92,93];
        if (key && keys.indexOf(key) === -1)
          return false;
        else
          return true;
  			    }
      if (!keyAllowed())
        e.preventDefault();
    }, false);
    </script>
    }

