
@{
    Layout = null;
}
@using CyberShop.Common;
@using CyberShop.Areas.Admin.Models;
@model List<CyberShop.Areas.Admin.Models.InvoiceOutPdfViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoiceOutPdf</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <section class="container">
        <div class="row" style="margin: 5px;">
            <div class="col-md-12 row" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                <div class="col-md-6">
                    <a href="/Home" class="logo"><span><i class="fas fa-dragon"></i> Cyber</span>shop</a>
                </div>
                <div class="col-md-6">
                    <span>Công ty linh kiện, phụ kiện máy tính CyberShop</span><br />
                    <span>Đ/c: abc Nguyễn An Ninh, Phường 10, Quận 5, TPHCM</span>
                </div>
                <br />
                <br />
                <br />
                <br />
                <div class="col-md-6">
                    <span> Họ tên khách hàng: @Model.First().CustomerName</span>
                </div>
                <div class="col-md-6">
                    <span> Số điện thoại: @Model.First().PhoneName</span>
                </div>
                <div class="col-md-6">
                    <span> Địa chỉ: @Model.First().Address</span>
                </div>
                <div class="col-md-6">
                    <span> Email: </span>
                </div>
            </div>
            <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="Box" style="padding: 0;">
                    <div class="chart-title" style="height: 55px;">Hóa đơn sản phẩm</div>
                    <div class="progress-container">
                        <div class="progress-bar" id="myBar"></div>
                    </div>
                    <div class="admin-table" id="admin-table-best-sale">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 40%;"><a href="#">Tên sản phẩm</a></th>
                                    <th style="width: 20%;"><a href="#">Loại sản phẩm</a></th>
                                    <th style="width: 10%;"><a href="#">Bảo hành (tháng)</a></th>
                                    <th style="width: 15%;"><a href="#">Số lượng</a></th>
                                    <th style="width: 15%;"><a href="#">Giá tiền (VNĐ)</a></th>
                                </tr>
                            </thead>
                            <tbody id="items-table">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductTypeName</td>
                                        <td>@item.MonthsWarranty</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="https://unpkg.com/sticky-table-headers"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="~/assets/angularcontroller/AdminAngularController.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>

</html>
