@model List<CyberShop.Models.DetailProductViewModel>

@{
    ViewBag.Title = "Detail Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session.Add(CyberShop.Common.CommonConstantUser.URL_REFERRER, Request.Url);
}

<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/chi-tiet-danh-muc/@ViewBag.CategoryHref">@ViewBag.Category</a></li>
        <li class="breadcrumb-item active">@Model.FirstOrDefault().ProductName</li>
    </ul>
    <div class="row">
        <div class="col-md-6 product-img">
            <div class="image-box">
                @foreach (var item in Model)
                {
                    <img class="Slide" onclick="plusSlides()" src="@item.Url">
                }
            </div>
            <div class="Dots col-md-12" style="text-align: center;">
            @foreach (var item in Model)
            {
                <div class="Dot"></div>
            }
            </div>
            <div class="row product-img-demo">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <img class="demo" onclick="currentSlide(@i+1)" src="@Model[i].Url">
                }

            </div>

        </div>
        <div class="col-md-6 product-info">
            <h3>@Model.FirstOrDefault().ProductName</h3>
            <ul>
                <li><span>Nhà sản xuất: </span>@Model.FirstOrDefault().BrandName </li>
                <li><span>Tình trạng sản phẩm: </span> Mới 100%</li>
                <li><span>Bảo hành: </span>@Model.FirstOrDefault().MonthWarranty tháng</li>
                <li><span>Tình trạng hàng: </span> Còn hàng</li>
            </ul>
            <p style="margin-top: 50px;" class="price-tag"><span>Giá: </span>@string.Format("{0:#,##0}", @Model.FirstOrDefault().Price)đ</p>
            <div style="margin-top: 25px;">
                <button ng-click="AddItem(@Model.FirstOrDefault().id)">Thêm vào giỏ</button>
                <button ng-click="GoToPay(); AddItem(@Model.FirstOrDefault().id)">Mua ngay</button>
                <button data-toggle="modal" data-target="#Modal" class="compare" ng-click="LoadItems(@Model.FirstOrDefault().ProductType_id, @Model.FirstOrDefault().id)">So sánh</button>
            </div>
        </div>
    </div>

    <div class="word-content">
        <h1 class="header-word-hide">Mô tả sản phẩm</h1>
        <div class="hide-scroll"></div>
        <div class="footer-word-hide"></div>
            <iframe src="@Model.FirstOrDefault().Info" width="100%" height="1000" style="border: none;margin-bottom: -42px;"></iframe>
        
    </div>

    <div style="margin-top: 25px;" class="fb-comments" data-href="http://{{Domain}}/Home/DetailProduct/@Model.FirstOrDefault().id" data-numposts="5" data-width="100%"></div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chọn sản phẩm muốn so sánh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="search">
                        <input placeholder="Tìm kiếm..." type="text" ng-model="search.ProductName">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                    <div style="margin-top:20px;overflow: scroll;height:475px;">
                        <div class="PC-Part" ng-repeat="item in ProductSame">
                            <img style="max-width: 150px;max-height:150px;float: left" src="{{item.Image}}">
                            <div class="Info">
                                {{item.ProductName}}
                                <p class="Price">Giá tiền: {{item.Price | currency:"":0}} VNĐ</p>
                                <p>Bảo hành: {{item.MonthWarranty}} tháng</p>
                            </div>
                            <button class="add" ng-click="OpenItemDoc(item.id);">Chọn</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row side-by-side" id="modal-side-by-side" style="position: fixed; z-index: 9999;">
        <div class="col-md-12" style="background-color: #000;opacity: 0.2;top: 0;bottom:0;left: 0; right:0;position:fixed"></div>
        <a href="javascript:void(0);" onclick="CloseModal();" style="right:0;top:0;position:fixed;margin: 0.5% ;transition: .2s;color: #fff; font-size: 20px;"><i class="fas fa-times"></i></a>
        <div class="col-md-6">
            <div class="side-left row">
                <div class="col-md-12" style="text-align: center; padding: 0;">
                    <img style="max-height: 200px;" src="@Model.FirstOrDefault().Url">
                    <p style="font-weight: bold;color: #000;font-size: 20px;margin: 0;">@Model.FirstOrDefault().ProductName</p>
                    <p style="font-weight: bold;color: #1E90FF; font-size: 20px;margin: 0;">@string.Format("{0:#,##0}", @Model.FirstOrDefault().Price) VNĐ</p>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <div class="word-content" style="border: none;margin-top: 0;padding-top: 0;">
                        <iframe src="@Model.FirstOrDefault().Info" class="google-doc" style="border: none;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="side-right row">
                    <div class="col-md-12 go-btn" style="padding: 0;position: absolute; right: 0; top: 0;"><button ng-click="Xem()">Xem</button></div>
                    <div class="col-md-12" style="text-align: center; padding: 0;">
                        <img style="max-height: 200px;" src="{{ItemSelectedImage}}">
                        <p style="font-weight: bold;color: #000;font-size: 20px;margin: 0;">{{ItemSelectedName}}</p>
                        <p style="font-weight: bold;color: #1E90FF;font-size: 20px;margin: 0;">{{ItemSelectedPrice | currency:"":0}} VNĐ</p>
                    </div>
                    <div class="col-md-12" style="padding: 0;">
                        <div class="word-content" style="border: none;margin-top: 0;padding-top: 0;">
                            <iframe ng-src="{{currentProjectUrl}}" class="google-doc" style="border: none;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
@section scripts{
<script type="text/javascript">

    function CloseModal() {
        document.getElementById("modal-side-by-side").style.visibility = "hidden";
    }



				var slideIndex = 1;
				var Timer = window.setTimeout(AutoSlide, 3000);
				ShowCurrentSlide(slideIndex);

				$(window).focus(function() {
					clearTimeout(Timer);
  					Timer = window.setTimeout(AutoSlide, 3000);
				});

				$(window).blur(function() {
    				clearTimeout(Timer);
				});

				function plusSlides() {
  					ShowCurrentSlide(slideIndex += 1);
  					clearTimeout(Timer);
  					Timer = window.setTimeout(AutoSlide, 30000);
				}

				function currentSlide(n) {
  					ShowCurrentSlide(slideIndex = n);
  					clearTimeout(Timer);
  					Timer = window.setTimeout(AutoSlide, 30000);
				}

				function ShowCurrentSlide(n) {
					var slides = document.getElementsByClassName("Slide");
					var dots = document.getElementsByClassName("Dot");
					var demo = document.getElementsByClassName("demo");
					if (n > slides.length) {slideIndex = 1}
					if (n < 1) {slideIndex = slides.length}
					for (i = 0; i < slides.length; i++) {
      					slides[i].style.display = "none";
  					}
  					for (i = 0; i < dots.length; i++) {
      					dots[i].className = dots[i].className.replace(" active", "");
      					demo[i].className = demo[i].className.replace(" active", "");
  					}
  					slides[slideIndex-1].style.display = "block";
  					dots[slideIndex-1].className += " active";
  					demo[slideIndex-1].className += " active";
				}
				function AutoSlide() {
					ShowCurrentSlide(slideIndex += 1);
					clearTimeout(Timer);
					Timer = window.setTimeout(AutoSlide, 3000);
				}
</script>
    }

