@model List<CyberShop.Models.DetailProductViewModel>

@{
    ViewBag.Title = "Detail Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">@ViewBag.Category</a></li>
        <li class="breadcrumb-item active">@Model.FirstOrDefault().ProductName</li>
    </ul>
    <div class="row">
        <div class="col-md-6 product-img">
            @foreach (var item in Model)
            {
                <img class="Slide" onclick="plusSlides()" src="@item.Url">
            }
            <div class="Dots col-md-12" style="text-align: center;">
            @foreach (var item in Model)
            {
                <div class="Dot"></div>
            }
            </div>
            <div class="row product-img-demo">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <img class="demo" onclick="currentSlide(@i+1)" src="@Model[i].Url">
                }

            </div>

        </div>
        <div class="col-md-6 product-info">
            <h3>@Model.FirstOrDefault().ProductName</h3>
            <ul>
                <li><span>Nhà sản xuất: </span>@Model.FirstOrDefault().BrandName </li>
                <li><span>Tình trạng sản phẩm: </span> Mới 100%</li>
                <li><span>Bảo hành: </span>@Model.FirstOrDefault().MonthWarranty tháng</li>
                <li><span>Tình trạng hàng: </span> Còn hàng</li>
            </ul>
            <p style="margin-top: 50px;" class="price-tag"><span>Giá: </span>@string.Format("{0:#,##0}", @Model.FirstOrDefault().Price)đ</p>
            <div style="margin-top: 25px;">
                <button href="#">Thêm vào giỏ</button>
                <button href="#">Mua ngay</button>
            </div>
        </div>
    </div>

    <div class="word-content">
        <h1>Mô tả sản phẩm</h1>
    </div>

</section>
@section scripts{
<script type="text/javascript">
				var slideIndex = 1;
				var Timer = window.setTimeout(AutoSlide, 3000);
				ShowCurrentSlide(slideIndex);

				$(window).focus(function() {
					clearTimeout(Timer);
  					Timer = window.setTimeout(AutoSlide, 3000);
				});

				$(window).blur(function() {
    				clearTimeout(Timer);
				});

				function plusSlides() {
  					ShowCurrentSlide(slideIndex += 1);
  					clearTimeout(Timer);
  					Timer = window.setTimeout(AutoSlide, 30000);
				}

				function currentSlide(n) {
  					ShowCurrentSlide(slideIndex = n);
  					clearTimeout(Timer);
  					Timer = window.setTimeout(AutoSlide, 30000);
				}

				function ShowCurrentSlide(n) {
					var slides = document.getElementsByClassName("Slide");
					var dots = document.getElementsByClassName("Dot");
					var demo = document.getElementsByClassName("demo");
					if (n > slides.length) {slideIndex = 1}
					if (n < 1) {slideIndex = slides.length}
					for (i = 0; i < slides.length; i++) {
      					slides[i].style.display = "none";
  					}
  					for (i = 0; i < dots.length; i++) {
      					dots[i].className = dots[i].className.replace(" active", "");
      					demo[i].className = demo[i].className.replace(" active", "");
  					}
  					slides[slideIndex-1].style.display = "block";
  					dots[slideIndex-1].className += " active";
  					demo[slideIndex-1].className += " active";
				}
				function AutoSlide() {
					ShowCurrentSlide(slideIndex += 1);
					clearTimeout(Timer);
					Timer = window.setTimeout(AutoSlide, 3000);
				}
</script>
    }

