
@{
    ViewBag.Title = "Quản lý hóa đơn nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var prdTypeList = new ProductTypeDao().ListProductType();
    var brandList = new BrandDao().ListBrand();
    var prdList = new ProductDao().ListProduct();
}
@using Data;

<section id="content" class="admin-content-container">
    <h3 style="margin: 20px;border-bottom: 1px solid #DCDCDC;padding-bottom: 16px;"><i class="fas fa-dolly-flatbed" style="margin-right: 10px;"></i>Quản lý hóa đơn nhập</h3>
    <div class="row" style="margin: 5px;">
        <div class="col-md-12 row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;" id="search_input">
            <div class="col-md-2">
                <p>Mã hóa đơn:</p>
                <input type="text" class="numberonly" placeholder="Nhập mã hóa đơn..." id="invoiceIn_id">
            </div>
            <div class="col-md-2">
                <p>Thời gian từ:</p>
                <input type="date" id="date_from">
            </div>
            <div class="col-md-2">
                <p>Thời gian đến:</p>
                <input type="date" id="date_to">
            </div>
            <div class="col-md-2">
                <p>Sản phẩm trong hoá đơn :</p>
                <select class="list-select" id="in_product_search">
                    <option value=""> <text style="color:silver">Chọn sản phẩm</text></option>
                    @foreach (var item in prdList)
                    {
                        <option value="@item.id">@item.ProductName</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <p>Trạng thái:</p>
                <select class="list-select" id="status_invoice_in">
                    <option value=""><text>Chọn trạng thái...</text></option>
                    <option value="Chưa hoàn thành"><text>Chưa hoàn thành</text></option>
                    <option value="Đã hoàn thành"><text>Đã hoàn thành</text></option>
                </select>
            </div>
        </div>

        <div class="col-md-12 product-action" style="padding-top: 10px;padding-bottom: 10px; text-align: left;">
            <button type="button" class="delete" ng-click="DeleteInvoiceInChecked()"><i class="fas fa-trash"></i></button>
            <button style="width: 100px;" ng-click="FilterInvoiceIn()" onclick="UnCheck()">Lọc</button>
            <button onclick="ResetTXT();" ng-click="FilterInvoiceIn()"><i class="fas fa-redo-alt"></i></button>
        </div>
        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Danh sách hóa đơn</div>
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <div class="admin-table" id="admin-table-best-sale" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%;" class="checkbox"><input type="checkbox" id="check-all" onchange="Check()"></th>
                                <th style="width: 7%;"><a href="javascript:void(0);" ng-click="sortByInvoiceIn('Id')">Mã hóa đơn</a></th>
                                <th style="width: 23%;"><a href="javascript:void(0);" ng-click="sortByInvoiceIn('Total')">Tổng tiền</a></th>
                                <th style="width: 10%;"><a href="javascript:void(0);" ng-click="sortByInvoiceIn('CreateDate')">Ngày lập</a></th>
                                <th style="width: 10%;"><a href="javascript:void(0);" ng-click="sortByInvoiceIn('CreateBy')">Tạo bởi</a></th>
                                <th style="width: 12%;"><a href="javascript:void(0);" ng-click="sortByInvoiceIn('Status')">Tình trạng</a></th>
                                <th style="width: 15%;color: #1E90FF">Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="items-table">
                            <tr ng-repeat="item in invoiceInList | orderBy:Name:reverseName">
                                <td class="checkbox" ng-if="item.Status=='Chưa hoàn thành'"><input type="checkbox" onchange="CheckItem()" value="{{item.Id}}"></td>
                                <td class="checkbox" ng-if="item.Status=='Đã hoàn thành'"><i class="fas fa-check-circle"></i></td>
                                <td>{{item.Id}}</td>
                                <td>{{item.Total | currency:"":0}}</td>
                                <td>{{item.CreateDate.slice(6, -2) | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.CreateBy}}</td>
                                <td ng-if="item.Status=='Chưa hoàn thành'"><div class="pending">{{item.Status}}</div></td>
                                <td ng-if="item.Status=='Đã hoàn thành'"><div class="complete">{{item.Status}}</div></td>
                                <td class="table-product-action" ng-if="item.Status=='Chưa hoàn thành'"><button data-toggle="modal" data-target="#EditInvoice" ng-click="EditInvoiceIn(item.Id)"><i class="fas fa-edit"></i></button><button data-toggle="modal" data-target="#ViewInvoiceModal" class="look" ng-click="ViewInvoiceIn(item.Id, item.Status)"><i class="fas fa-eye"></i></button><button class="delete" ng-click="DeleteInvoiceIn(item.Id)"><i class="fas fa-trash"></i></button></td>
                                <td class="table-product-action" ng-if="item.Status=='Đã hoàn thành'"><button data-toggle="modal" data-target="#ViewInvoiceModal" class="look" ng-click="ViewInvoiceIn(item.Id, item.Status)"><i class="fas fa-eye"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="EditInvoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sửa hóa đơn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-12" style="text-align: center;">
                            <button onclick="ShowProduct()"><i class="fas fa-plus" style="margin-right: 10px;border-bottom: 1px"></i>Thêm</button>
                            <div class="Dropdown-Product-Background" id="Product-Background"></div>
                            <div class="Dropdown-Product" id="Product">
                                <a href="javascript:void(0);" class="exit" onclick="HideProduct()"><i class="fas fa-times"></i></a>
                                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                                    <div class="col-md-4">
                                        <p>Tìm kiếm sản phẩm:</p>
                                        <input type="text" placeholder="Nhập từ khóa..." ng-model="search.ProductName">
                                    </div>
                                    <div class="col-md-4">
                                        <p>Lọc theo loại sản phẩm:</p>
                                        <select class="list-select" ng-model="search.ProductTypeName">
                                            <option value="">Chọn loại sản phẩm</option>
                                            @foreach (var item in prdTypeList)
                                            {
                                                <option value="@item.TypeName">@item.TypeName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Lọc theo hãng:</p>
                                        <select class="list-select" ng-model="search.BrandName">
                                            <option value="">Chọn hãng sản phẩm</option>
                                            @foreach (var item in brandList)
                                            {
                                                <option value="@item.BrandName">@item.BrandName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                                        <p>Danh sách sản phẩm:</p>
                                        <div class="Box" style="padding: 0;margin-top: 10px;">
                                            <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 320px;">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 50%;"><a ng-click="sortProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                                            <th style="width: 10%;"><a ng-click="sortProduct('ProductTypeName')" href="javascript:void(0);">Loại SP</a></th>
                                                            <th style="width: 10%;"><a ng-click="sortProduct('BrandName')" href="javascript:void(0);">Hãng SP</a></th>
                                                            <th style="width: 15%;"><a ng-click="sortProduct('Amount')" href="javascript:void(0);">SL hàng tồn</a></th>
                                                            <th style="width: 20%;"><a ng-click="sortProduct('MonthWarranty')" href="javascript:void(0);">Bảo hành</a></th>
                                                            <th style="width: 5%;text-align: center;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in productList | filter:search | orderBy:ProductN:reverseProduct">
                                                            <td>{{item.ProductName}}</td>
                                                            <td>{{item.ProductTypeName}}</td>
                                                            <td>{{item.BrandName}}</td>
                                                            <td>{{item.Amount}}</td>
                                                            <td>{{item.MonthWarranty}}</td>
                                                            <td style="text-align: center;"><a href="javascript:void(0);" ng-click="EnterInformation(item.id)"><i class="fas fa-plus"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Danh sách sản phẩm trong hóa đơn:</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 45%;"><a ng-click="sortInvoiceProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                                <th style="width: 10%;"><a ng-click="sortInvoiceProduct('Amount')" href="javascript:void(0);">Số lượng</a></th>
                                                <th style="width: 20%;"><a ng-click="sortInvoiceProduct('Price')" href="javascript:void(0);">Giá tiền (VNĐ)</a></th>
                                                <th style="width: 15%;text-align: center;color: #1E90FF">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in listInvoiceInDetail | orderBy:InProduct:reverseInProduct" ng-init="bucket.total_price = bucket.total_price+ (item.Price * item.Amount)">
                                                <td>{{item.ProductName}}</td>
                                                <td><div class="admin-quantity"><a class="minus" style="float:left" ng-click="MinusItemInvoiceIn(item.Id)"><i class="fas fa-minus"></i></a><input id="{{item.Id}}" class="numberonly" value="{{item.Amount}}" type="text" onchange="ApplyQuantity(this.id,this)" style="float: left;"><a class="plus" style="float:left" ng-click="PlusItemInvoiceIn(item.Id)"><i class="fas fa-plus"></i></a></div></td>
                                                <td>{{item.Price | currency:"":0}}</td>
                                                <td style="text-align: center;"><a href="javascript:void(0);" ng-click="DeleteDetailProductIn(item.Id)"><i class="fas fa-times"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;">Tổng tiền (VNĐ): {{bucket.total_price | currency:"":0}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cảnh báo !!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chắc chắn muốn xóa chứ ?
                </div>
                <div class="modal-footer">
                    <button type="button">Xóa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ViewInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết hóa đơn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-6 info">
                            <p>Mã hóa đơn: <span ng-bind="InvoiceIn_Id"></span></p>
                            <p>Trạng thái: <span ng-bind="InvoiceIn_Status"></span></p>
                        </div>
                        <div class="col-md-6 info">
                            <p>Ngày lập: <span ng-bind="InvoiceIn_CreateDate.slice(6, -2) | date:'dd/MM/yyyy'"></span></p>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Sản phẩm trong hóa đơn: (chọn SP cần bảo hành)</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div id="admin-table-best-sale" class="admin-table modal-table" style="height: 250px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 45%;"><a ng-click="sortViewInProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                                <th style="width: 30%;"><a ng-click="sortViewInProduct('Amount')" href="javascript:void(0);">Số lượng</a></th>
                                                <th style="width: 30%;"><a ng-click="sortViewInProduct('Price')" href="javascript:void(0);">Giá tiền (VNĐ)</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in listInvoiceInDetail | orderBy:ViewInProduct:reverseViewInProduct">
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Amount}}</td>
                                                <td>{{item.Price | currency:"":0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;">Tổng tiền (VNĐ): {{bucket.total_price | currency:"":0}}</div>



                </div>
                <div class="modal-footer">
                    <button id="Print" ng-click="PrintInvoiceInById()"><i class="fas fa-print" style="padding-right:10px;"></i>In hóa đơn</button>
                    <a target="_blank" href="/Admin/InvoiceInManager/PrintViewToPdf" id="PrintInvoiceIn" hidden></a>
                    <button id="ConfirmInvoice" ng-click="confirmIn()">Xác nhận hoàn thành</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    function ApplyQuantity(id, quantity) {
        var scope = angular.element(document.getElementById('MyControllerAnJS')).scope();
        scope.ApplyQuantityInvoiceIn(id, quantity.value);
    }
    Active = document.getElementById("InvoiceInManager");
    Active.className = "active-button";

    CheckAll = document.getElementById("check-all");
    table = document.getElementById("items-table");
    ItemCheckBox = table.getElementsByTagName("input");
    Product = document.getElementById("Product");
    ProductBackground = document.getElementById("Product-Background");

    function ShowProduct() {
        ProductBackground.style.visibility = "visible";
        Product.style.visibility = "visible";
    }

    function HideProduct() {
        ProductBackground.style.visibility = "hidden";
        Product.style.visibility = "hidden";
    }

    function Resize() {

    }
</script>


