@using CyberShop.Models;
@using Data;
@{
    ViewBag.Title = "Thông tin người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CyberShop.Models.InvoiceViewModel> listOrderHistory = ViewBag.OrderHistory;
    var prdTypeList = new ProductTypeDao().ListProductType();
    var brandList = new BrandDao().ListBrand();
}
@model CyberShop.Models.UserViewModel
@section style{
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

            .alert.success {
                background-color: #58EA64;
            }

            .alert.info {
                background-color: #2196F3;
            }

            .alert.warning {
                background-color: #ff9800;
            }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>
}
<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <h3><i class="fas fa-user-cog" style="margin-right: 10px;"></i>Thông tin người dùng</h3>
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active">Thông tin người dùng</li>
    </ul>
    <h1 style="text-align: center; margin: 50px;">Thông tin người dùng</h1>
    @if (ViewBag.Warning != null)
    {
        <div class="alert warning">
            <span class="closebtn">&times;</span>
            <strong></strong><div style="text-align:center">Vui lòng nhập đầy đủ thông tin cần thiết</div>
        </div>
    }
    @if (ViewBag.Success != null)
    {
        <div class="alert success">
            <span class="closebtn">&times;</span>
            <strong></strong><div style="text-align:center">@ViewBag.Success</div>
        </div>
    }
        <form method="post" action="/User/Index">
            <div class="row">
                <div class="error col-md-12" id="Post_Error">
                    <ul>
                        @Html.ValidationSummary(false, "", "alert alert-danger")
                    </ul>
                </div>
                <div class="col-md-6 input-info">
                    <h6>
                        @*<input type="text" placeholder="Họ và tên..." name="search">*@
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new {@*@name="search"*@})
                    </h6>
                    <h6>
                        @*<input type="text" placeholder="Tên tài khoản..." name="search">*@
                        @Html.LabelFor(model => model.Username)
                        @Html.TextBoxFor(model => model.Username, new { @value = Model.Username, @style = "background-color: #808080", @readonly = true,})
                    </h6>
                    <h6>
                        @*<input type="text" placeholder="Email..." name="search">*@
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new{})
                    </h6>
                </div>
                <div class="col-md-6 input-info">
                    <h6>
                        @*<input type="text" placeholder="Số điện thoại..." name="search">*@
                        @Html.LabelFor(model => model.PhoneNum)
                        @Html.TextBoxFor(model => model.PhoneNum, new{ @*@name = "search"*@ @id = "key", @class = "numberonly", })
                    </h6>
                    <h6>
                        @*<input type="text" placeholder="Địa chỉ..." name="search">*@
                        @Html.LabelFor(model => model.Address)
                        @Html.TextBoxFor(model => model.Address, new { @*@name = "search"*@ })
                    </h6>
                </div>
                <div class="btn-submit col-md-12">
                    <button type="submit">Xác nhận thay đổi</button>
                </div> 
            </div>
    </form>
    <div class="row">
        <div class="btn-submit col-md-12" style="margin-top: 10px;">
            <button data-toggle="modal" data-target="#PasswordModal" onclick="OpenPassChangeModal();">Đổi mật khẩu</button>
        </div>
    </div>


    <h1 style="text-align: center; margin: 50px;">Lịch sử mua hàng</h1>
    <table>
        <tr>
            <th style="width: 20%;">Mã hóa đơn</th>
            <th style="width: 20%;">Tổng tiền (VNĐ)</th>
            <th style="width: 20;">Ngày mua</th>
            <th style="width: 20%;">Tình trạng</th>
            <th style="width: 20%;">Thao tác</th>
        </tr>
        <tr ng-repeat="item in lstOrderHistory">
            <td>{{item.Id}}</td>
            <td>{{item.Total | currency:"":0}}</td>
            <td>{{item.CreateDate.slice(6, -2) | date:'dd/MM/yyyy'}}</td>
            <td ng-if="item.Status=='Chưa xác nhận'"><div class="pending">{{item.Status}}</div></td>
            <td ng-if="item.Status=='Đã xác nhận'"><div class="confirmed">{{item.Status}}</div></td>
            <td ng-if="item.Status=='Đang chờ xem'"><div class="waiting">{{item.Status}}</div></td>
            <td ng-if="item.Status=='Đã hoàn thành'"><div class="complete">{{item.Status}}</div></td>
            <td ng-if="item.Status=='Đã đóng gói'"><div class="prepared">{{item.Status}}</div></td>
            <td ng-if="item.Status=='Đang vận chuyển'"><div class="shipping">{{item.Status}}</div></td>
            <td ng-if="item.Status=='Đã hủy'"><div class="canceled">{{item.Status}}</div></td>
            <td class="table-product-action" ng-if="item.Status== 'Chưa xác nhận'"><button class="edit" data-toggle="modal" data-target="#EditInvoice" ng-click="EditInvoice(item.Id)"><i class="fas fa-edit"></i></button><button data-toggle="modal" data-target="#ViewInvoiceModal" ng-click="ViewInvoice(item.Id)" class="look"><i class="fas fa-eye"></i></button><button class="delete" ng-click="DeleteInvoice(item.Id)"><i class="fas fa-trash"></i></button></td>
            <td class="table-product-action" ng-if="item.Status== 'Đang chờ xem'"><button class="edit" data-toggle="modal" data-target="#EditInvoice" ng-click="EditInvoice(item.Id)"><i class="fas fa-edit"></i></button><button data-toggle="modal" data-target="#ViewInvoiceModal" ng-click="ViewInvoice(item.Id)" class="look"><i class="fas fa-eye"></i></button><button class="delete" ng-click="DeleteInvoice(item.Id)"><i class="fas fa-trash"></i></button></td>
            <td class="table-product-action" ng-if="item.Status != 'Chưa xác nhận' && item.Status != 'Đang chờ xem'"><button class="look" data-toggle="modal" data-target="#ViewInvoiceModal" ng-click="ViewInvoice(item.Id)"><i class="fas fa-eye"></i></button></td>
        </tr>
        
    </table>

    <div class="modal fade" id="PasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-12">
                        <p>Nhập mật khẩu cũ:</p>
                        <input style="width:100%;margin-left:0;margin-right:0" type="password" placeholder="Nhập mật khẩu cũ..." id="old_pass">
                    </div>
                    <div class="col-md-12">
                        <button ng-click="RequestChangePass('@Model.Username');">Yêu cầu đổi mật khẩu</button>
                    </div>
                    <div class="col-md-12">
                        <p>Mật khẩu mới:</p>
                        <input style="width:100%;margin-left:0;margin-right:0" type="password" placeholder="Nhập mật khẩu mới..." id="new_pass">
                    </div>
                    <div class="col-md-12">
                        <p>Nhập lại mật khẩu:</p>
                        <input style="width:100%;margin-left:0;margin-right:0" type="password" placeholder="Nhập lại mật khẩu..." id="re_enter_pass">
                    </div>
                    <div class="col-md-12">
                        <button id="Confirm_change" ng-click="ChangePass('@Model.Username');">Xác nhận</button>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="EditInvoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sửa hóa đơn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn_close" ng-click="CheckAmountNull()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-3">
                            <p>Họ tên khách hàng:</p>
                            <input type="text" placeholder="Nhập Họ tên..." id="client_name" ng-value="clientName">
                        </div>
                        <div class="col-md-3" style="text-align: left;">
                            <p>Số điện thoại</p>
                            <input type="text" class="numberonly" placeholder="số điện thoại..." id="phone_number" ng-value="phoneNumber">
                        </div>
                        <div class="col-md-6">
                            <p>Địa chỉ:</p>
                            <input type="text" placeholder="Nhập địa chỉ..." id="address" ng-value="address">
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;font-size: 20px;border-bottom: 1px solid #DCDCDC; padding-bottom: 10px;margin-bottom: 15px;">Quản lý sản phẩm hóa đơn</div>

                        <div class="col-md-12" style="text-align: center;">
                            <button onclick="ShowProduct()" ng-click="ReturnProduct()"><i class="fas fa-plus" style="margin-right: 10px;border-bottom: 1px"></i>Thêm</button>
                            <div class="Dropdown-Product-Background" id="Product-Background"></div>
                            <div class="Dropdown-Product" id="Product">
                                <a href="javascript:void(0);" class="exit" onclick="HideProduct()"><i class="fas fa-times"></i></a>
                                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                                    <div class="col-md-4">
                                        <p>Tìm kiếm sản phẩm:</p>
                                        <input type="text" placeholder="Nhập từ khóa..." ng-model="search.ProductName">
                                    </div>
                                    <div class="col-md-4">
                                        <p>Lọc theo loại sản phẩm:</p>
                                        <select class="list-select" ng-model="search.ProductTypeName">
                                            <option value="">Chọn loại sản phẩm</option>
                                            @foreach (var item in prdTypeList)
                                            {
                                                <option value="@item.TypeName">@item.TypeName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Lọc theo hãng:</p>
                                        <select class="list-select" ng-model="search.BrandName">
                                            <option value="">Chọn hãng sản phẩm</option>
                                            @foreach (var item in brandList)
                                            {
                                                <option value="@item.BrandName">@item.BrandName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                                        <p>Danh sách sản phẩm:</p>
                                        <div class="Box" style="padding: 0;margin-top: 10px;">
                                            <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 320px;">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 40%;"><a ng-click="sortProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                                            <th style="width: 10%;"><a ng-click="sortProduct('ProductTypeName')" href="javascript:void(0);">Loại SP</a></th>
                                                            <th style="width: 10%;"><a ng-click="sortProduct('BrandName')" href="javascript:void(0);">Hãng SP</a></th>
                                                            <th style="width: 15%;"><a ng-click="sortProduct('Amount')" href="javascript:void(0);">SL hàng tồn</a></th>
                                                            <th style="width: 10%;"><a ng-click="sortProduct('MonthWarranty')" href="javascript:void(0);">Bảo hành</a></th>
                                                            <th style="width: 20%;"><a ng-click="sortProduct('Price')" href="javascript:void(0);">Giá tiền</a></th>
                                                            <th style="width: 5%;text-align: center;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in productList | filter:search | orderBy:ProductN:reverseProduct">
                                                            <td>{{item.ProductName}}</td>
                                                            <td>{{item.ProductTypeName}}</td>
                                                            <td>{{item.BrandName}}</td>
                                                            <td>{{item.Amount}}</td>
                                                            <td>{{item.MonthWarranty}}</td>
                                                            <td>{{item.Price | currency:"":0}}</td>
                                                            <td style="text-align: center;"><a href="javascript:void(0);" ng-click="AddProductToInvoice(item.id, item.Price,item.MonthWarranty)"><i class="fas fa-plus"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Danh sách sản phẩm trong hóa đơn:</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 45%;"><a ng-click="sortInvoiceProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                                <th style="width: 10%;"><a ng-click="sortInvoiceProduct('Amount')" href="javascript:void(0);">Số lượng</a></th>
                                                <th style="width: 20%;"><a ng-click="sortInvoiceProduct('Price')" href="javascript:void(0);">Giá tiền (VNĐ)</a></th>
                                                <th style="width: 15%;text-align: center;color: #1E90FF">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody id="items-table">
                                            <tr ng-repeat="item in listInvoiceDetail | orderBy:InProduct:reverseInProduct" ng-init="bucket.total_price = bucket.total_price+ (item.Price * item.Amount)">
                                                <td>{{item.ProductName}}</td>
                                                <td><div class="admin-quantity"><a class="minus" style="float:left" ng-click="MinusItemInvoice(item.Id)"><i class="fas fa-minus"></i></a><input id="{{item.Id}}" class="numberonly" value="{{item.Amount}}" type="text" onchange="ApplyQuantity(this.id,this)" style="float: left;"><a class="plus" style="float:left" ng-click="PlusItemInvoice(item.Id)"><i class="fas fa-plus"></i></a></div></td>
                                                <td>{{item.Price | currency:"":0}}</td>
                                                <td style="text-align: center;"><a href="javascript:void(0);" ng-click="DeleteDetailProduct(item.Id)"><i class="fas fa-times"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;">Tổng tiền (VNĐ): {{bucket.total_price | currency:"":0}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="UpdateInvoice()">Xác nhận</button>
                    <button type="button" class="second-btn" data-dismiss="modal" id="btn_out" ng-click="CheckAmountNull()">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ViewInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết hóa đơn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">

                        <div class="col-md-6 info">
                            <p>Mã hóa đơn: <span ng-bind="Invoice_Id"></span></p>
                            <p>Họ và tên: <span ng-bind="Invoice_CustomerName"></span></p>
                            <p>Số điện thoại: <span ng-bind="Invoice_DeliveryPhoneNum"></span></p>
                        </div>
                        <div class="col-md-6 info">
                            <p>Địa chỉ: <span ng-bind="Invoice_DeliveryAddress"></span></p>
                            <p>Tình trạng: <span ng-bind="Invoice_Status"></span></p>
                            <p>Ngày xuất: <span ng-bind="Invoice_CreateDate.slice(6, -2) | date:'dd/MM/yyyy'"></span></p>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Sản phẩm trong hóa đơn: (chọn SP cần bảo hành)</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div id="admin-table-best-sale" class="admin-table modal-table" style="height: 250px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 45%;"><a ng-click="sortViewInProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                                <th style="width: 10%;"><a ng-click="sortViewInProduct('Amount')" href="javascript:void(0);">Số lượng</a></th>
                                                <th style="width: 20%;"><a ng-click="sortViewInProduct('Price')" href="javascript:void(0);">Giá tiền</a></th>
                                                <th style="width: 30%;"><a ng-click="sortViewInProduct('WarrantyExpires')" href="javascript:void(0);">Bảo hành</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in listInvoiceDetail2 | orderBy:ViewInProduct:reverseViewInProduct" ng-init="bucket.total_price = bucket.total_price+ (item.Price * item.Amount)">
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Amount}}</td>
                                                <td>{{item.Price | currency:"":0}}</td>
                                                <td>{{item.WarrantyExpires.slice(6, -2) | date:'dd/MM/yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="float: right;">Tổng tiền (VNĐ): {{bucket.total_price | currency:"":0}}</div>
                    <div style="margin-top: 20px; margin-bottom: 20px;font-weight: bold">Quy trình: <span id="cancel" style="color: red; font-weight: normal;display: none"><i class="fas fa-times"></i> Hóa đơn đã bị hủy</span></div>
                    <div class="d-flex flex-row justify-content-between align-items-center align-content-center track-status">
                        <span class="dot step"></span>
                        <hr class="flex-fill track-line step"><span class="dot"></span>
                        <hr class="flex-fill track-line step"><span class="dot"></span>
                        <hr class="flex-fill track-line step"><span class="dot"></span>
                        <hr class="flex-fill track-line step"><span class="d-flex justify-content-center align-items-center big-dot dot"><i class="fa fa-check text-white"></i></span>
                    </div>
                    <div class="d-flex flex-row justify-content-between track-status-font" style="margin-bottom: 20px;">
                        <div class="d-flex flex-column track-font"><span>Chưa xác nhận</span></div>
                        <div class="d-flex flex-column track-font"><span>Đã xác nhận</span></div>
                        <div class="d-flex flex-column track-font"><span>Đã đóng gói</span></div>
                        <div class="d-flex flex-column track-font"><span>Đang vận chuyển</span></div>
                        <div class="d-flex flex-column track-font"><span>Đã hoàn thành</span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="second-btn" data-dismiss="modal" >Thoát</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
<script>

    function ApplyQuantity(id, quantity) {
        var scope = angular.element(document.getElementById('MyControllerAnJS')).scope();
        scope.ApplyQuantityInvoice(id, quantity.value);
    }

    table = document.getElementById("items-table");
    ItemInput = table.getElementsByTagName("input");
    function OpenPassChangeModal() {
        document.getElementById("new_pass").disabled = true;
        document.getElementById("re_enter_pass").disabled = true;
        document.getElementById("Confirm_change").disabled = true;
        document.getElementById("Confirm_change").className = "Disabled";
        document.getElementById("new_pass").value = "";
        document.getElementById("re_enter_pass").value = "";
        document.getElementById("old_pass").value = "";
    }


    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }

	    var myInput = document.getElementById('key');
	    myInput.addEventListener('keypress', function(e) {
      var key = !isNaN(e.charCode) ? e.charCode : e.keyCode;
      function keyAllowed() {
        var keys = [8,9,13,16,17,18,19,20,27,46,48,49,50,
                    51,52,53,54,55,56,57,91,92,93];
        if (key && keys.indexOf(key) === -1)
          return false;
        else
          return true;
  			    }
      if (!keyAllowed())
        e.preventDefault();
	    }, false);

	    var x = document.getElementById("Post_Error");
	    var list = x.getElementsByTagName("UL")[0];
	    if (list.getElementsByTagName("LI")[0].innerHTML != "") {
	        x.style.display = 'inline-block';
	    } else {
	        x.style.display = 'none';
	    }
	    Product = document.getElementById("Product");
	    ProductBackground = document.getElementById("Product-Background");
        function ShowProduct() {
        ProductBackground.style.visibility = "visible";
        Product.style.visibility = "visible";
    }

         function HideProduct() {
        ProductBackground.style.visibility = "hidden";
        Product.style.visibility = "hidden";
    }
</script>
    }

