@using Data;
@{ 
    var session = (CyberShop.Common.UserInfo)Session[CyberShop.Common.CommonConstantUser.USER_SESSION];
    var sessionCheck = Session[CyberShop.Common.CommonConstantUser.USER_SESSION];
    CategoriesDao catDao = new CategoriesDao();
    CategoryDetailDao catDetailDao = new CategoryDetailDao();
    List<Categoryy> catList = catDao.getAllCatgories();
    List<CategoryDetailDao> catListDetail= new List<CategoryDetailDao>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Header -->

    <header>
        <button onclick="topFunction();return false" id="myBtn" class="GoTop"><i class="fas fa-arrow-up"></i></button>
        <div class="wrapper" style="position: fixed;top: 0;width: 100%;">
            <div class="topnav" style="border-bottom: 1px solid #DCDCDC;">
                <div class="container">
                    <div style="display: inline-block;">
                        <a href="/Home" class="logo"><span><i class="fas fa-dragon"></i> Cyber</span>shop</a>
                        <div class="search-container">
                            <input type="text" placeholder="Tìm kiếm..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        @if (sessionCheck!=null)
                        {
                            <a href="#" style="max-width: 180px;margin-top: 13px; overflow:hidden;"><i class="fas fa-user-circle" style="margin-right: 10px;"></i>@session.HoTen</a>
                            <a href="/Home/Logout" style="margin-top: 13px"><i class="fas fa-sign-out-alt" style="margin-right: 10px"></i>Đăng xuất</a>
                        }
                        else
                        {
                            <a href="SignUp.html" style="margin-top: 13px"><i class="fas fa-user-plus" style="margin-right: 10px"></i>Đăng ký</a>
                            <a href="/Home/Login" style="margin-top: 13px"><i class="fas fa-user-circle" style="margin-right: 10px"></i>Đăng nhập</a>
                        }
                        <div class="cart">
                            <a href="#" style="margin-top: 13px"><i class="fas fa-shopping-cart" style="margin-right: 10px"><span class='badge badge-warning' id='lblCartCount'> 1 </span></i>Giỏ hàng</a>
                            <div class="dropdown-cart">
                                <div class="row Title">
                                    <div class="col-md-5 columm-1"><p>Tên</p></div>
                                    <div class="col-md-2 columm-2"><p>Số lượng</p></div>
                                    <div class="col-md-3 columm-3"><p>Giá</p></div>
                                    <div class="col-md-2 columm-4"><p>Tác vụ</p></div>
                                </div>
                                <div class="row Info">
                                    <img style="width: 50px;height:50px;margin-left: 10px;" src="img/1.png">
                                    <div class="col-md-4 columm-1"><a href="#">ROG Strix GeForce® GTX 1650 4GB GDDR5</a></div>
                                    <div class="col-md-2 columm-2" style="margin-left: 10px;"><p>1</p></div>
                                    <div class="col-md-3 columm-3"><p>4.150.000</p></div>
                                    <div class="col-md-1 columm-4" style="margin-top: -2px;"><a href="#"><i class="fas fa-trash action"></i></a></div>
                                </div>
                                <div class="row Total">
                                    <div class="col-md-12 Total-price"><p>Thành tiền: 4.150.000đ<button class="pay" href="#">Thanh toán</button></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="topnav" style="box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2)">
                <div class="container">
                    <div class="dropdown">
                        <button onmouseover="dropdown()" class="dropbtn"><i class="fas fa-bars" style="margin-right: 10px;"></i>Danh mục sản phẩm</button>
                        <div class="dropdown-content">
                            <div class="cat">
                                @foreach (var item in catList)
                                {
                                    <a onmouseover="OpenCat(@item.Id)" id="cat_@item.Id" href="#"> @item.CategoryName</a>
                                }
                            </div>
                            <a onmouseover="closebox()" onmouseout="openbox()" href="/Product">Tất cả sản phẩm</a>
                            <div class="more-content">
                                @foreach (var item in catList)
                                {
                                    catListDetail = catDetailDao.getListCateDetail(item.Id);

                                    <div class="more-content-items" id="@item.Id">
                                        <div class="row">
                                            @foreach (var cat in catListDetail)
                                            {
                                                <div class="col-md-3">
                                                    <a class="Title" href="#">@cat.CateDetailName</a>
                                                    <li><a href="#">Acer</a></li>
                                                    <li><a href="#">Asus</a></li>
                                                    <li><a href="#">MSI</a></li>
                                                    <li><a href="#">Dell</a></li>
                                                    <li><a href="#">HP</a></li>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <a href="#"><i class="far fa-file-alt" style="margin-right: 10px"></i>Kiểm tra bảo hành</a>
                    <a href="#"><i class="fas fa-gifts" style="margin-right: 10px"></i>Chương trình khuyến mãi</a>
                    <a href="#"><i class="fas fa-truck" style="margin-right: 10px"></i>Chính sách vận chuyển</a>
                    <a href="#"><i class="fas fa-tools" style="margin-right: 10px"></i>Chính sách bảo hành</a>
                    <a href="#"><i class="far fa-id-badge" style="margin-right: 10px"></i>về chúng tôi</a>
                </div>
            </div>
        </div>
    </header>
    <!--BODY -->
    @RenderBody()
    <!-- END BODY -->

    <!-- Footer -->
    <footer class="footer-distributed">
        <div class="container">
            <div class="footer-left">

                <a href="/Home" class="logo col-md-12"><span><i class="fas fa-dragon"></i> Cyber</span>shop</a>

                <p class="footer-company-name">Copyrights &copy; 2020 by Cybershop</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fas fa-map-marker"></i>
                    <p>Địa chỉ cửa hàng<span style="line-height:1;"> 181 Lê Hồng Phong Phường 7 Quận 10 TP HCM</span><span>Thời gian làm việc: 08:30 – 21:30 | T2 – CN.</span></p>
                </div>

                <div>
                    <i class="fas fa-phone"></i>
                    <p>Số điện thoại liên lạc<span>+84777792670</span>
                </div>

                <div>
                    <i class="fas fa-envelope"></i>
                    <p>Email<span><a href="mailto:tranthaitat99@gmail.com">tranthaitat99@gmail.com</a></span></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>Mạng xã hội</span>
                    Các trang mạng xã hội là nơi được cập nhật những thông tin, video mới nhất từ shop chúng tôi
                </p>

                <div class="footer-icons">

                    <a href="https://www.facebook.com/Anticard99"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/" style="background: red;"><i class="fab fa-youtube"></i></a>
                </div>

            </div>
        </div>

    </footer>



    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script>
        var totalcat = document.getElementsByClassName("more-content-items");
        for (i = 0; i < totalcat.length; i++) {
            totalcat[i].style.display = "none";
        }
        function OpenCat(x) {
            var str1 = "cat_";
            var y = str1.concat(x);
            var cat = document.getElementById(y);
            var a = document.getElementsByClassName("cat")[0];

            for (i = 0; i < totalcat.length; i++) {
                totalcat[i].style.display = "none";
                a.getElementsByTagName("A")[i].className = "";
            }
            cat.className = "active";
            document.getElementById(x).style.display = "block";
        }

        function dropdown() {
            var a = document.getElementsByClassName("cat")[0];
            for (i = 0; i < totalcat.length; i++) {
                a.getElementsByTagName("A")[i].className = "";
            }
        }

        function closebox() {
            var a = document.getElementsByClassName("cat")[0];
            for (i = 0; i < totalcat.length; i++) {
                a.getElementsByTagName("A")[i].className = "";
            }
            document.getElementsByClassName("more-content")[0].style.display = "none";
        }
        function openbox() {
            document.getElementsByClassName("more-content")[0].style.display = "block";
        }

        var mybutton = document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        function topFunction() {
            window.scroll({
                top: 0,
                behavior: 'smooth'
            })
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>