
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var prdTypeList = new ProductTypeDao().ListProductType();
    var brandList = new BrandDao().ListBrand();

}
@using Data;
<section id="content" class="admin-content-container">
    <h3 style="margin: 20px;border-bottom: 1px solid #DCDCDC;padding-bottom: 16px;"><i class="fas fa-truck-loading" style="margin-right: 10px;"></i>Quản lý sản phẩm</h3>
    <div class="row" style="margin: 5px;">
        <div class="col-md-12 row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;" id="search_input">
            <div class="col-md-2">
                <p>Mã sản phẩm:</p>
                <input type="text" placeholder="Nhập mã sản phẩm..." id="product_id">
            </div>
            <div class="col-md-2">
                <p>Tên sản phẩm:</p>
                <input type="text" placeholder="Nhập tên sản phẩm..." id="product_name">
            </div>
            <div class="col-md-2">
                <p>Loại sản phẩm:</p>
                <select class="list-select" id="product_type">
                    <option value=""> <text style="color:silver">Chọn loại sản phẩm</text></option>
                    @foreach (var item in prdTypeList)
                    {
                        <option value="@item.Id">@item.TypeName</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <p>Tên hãng</p>
                <input type="text" placeholder="Nhập tên hãng..." id="product_brand">
            </div>
            <div class="col-md-2">
                <p>Giá tiền từ:</p>
                <input class="currency" type="text" placeholder="Nhập giá tiền từ..." id="product_priceFrom">
            </div>
            <div class="col-md-2">
                <p>Giá tiền đến:</p>
                <input class="currency" type="text" placeholder="Nhập giá tiền đến..." id="product_priceTo">
            </div>
        </div>

        <div class="col-md-12 product-action" style="padding-top: 10px;padding-bottom: 10px; text-align: left;">
            <button style="width: 200px;" data-toggle="modal" data-target="#ProductTypeModal"><i class="fab fa-buffer" style="margin-right: 10px;"></i>Quản lý loại SP</button>
            <button style="width: 200px;" data-toggle="modal" data-target="#BrandModal"><i class="fas fa-certificate" style="margin-right: 10px;"></i>Quản lý hãng</button>
            <button style="width: 200px;" type="button" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm sản phẩm</button>
            <button type="button" ng-click="DeleteProductChecked()" class="delete"><i class="fas fa-trash""></i></button>
            <button style="width: 100px;" ng-click="FilterProduct()" onclick="UnCheck()">Lọc</button>
            <button onclick="ResetTXT();" ng-click="FilterProduct()"><i class="fas fa-redo-alt"></i></button>
            
        </div>
        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Sản phẩm</div>
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <div class="admin-table" id="admin-table-best-sale" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%;" class="checkbox"><input type="checkbox" id="check-all" onchange="Check()"></th>
                                <th style="width: 6%;"><a href="javascript:void(0);" ng-click="sortByProduct('id')">Id</a></th>
                                <th style="width: 35%;"><a href="javascript:void(0);" ng-click="sortByProduct('ProductName')">Tên sản phẩm</a></th>
                                <th style="width: 13%;"><a href="javascript:void(0);" ng-click="sortByProduct('ProductTypeName')">Loại sản phẩm</a></th>
                                <th style="width: 12%;"> <a href="javascript:void(0);" ng-click="sortByProduct('BrandName')">Hãng sản phẩm</a></th>
                                <th style="width: 12%;"><a href="javascript:void(0);" ng-click="sortByProduct('Price')">Giá tiền (VNĐ)</a></th>
                                <th style="width: 9%;"><a href="javascript:void(0);" ng-click="sortByProduct('Amount')">Số lượng</a></th>
                                <th style="width: 20%;"><a href="javascript:void(0);">Hoạt động</a></th>
                            </tr>
                        </thead>
                        <tbody id="items-table">
                            <tr ng-repeat="item in productList">
                                <td class="checkbox"><input type="checkbox" onchange="CheckItem()" value="{{item.id}}"></td>
                                <td>{{item.id}}</td>
                                <td>{{item.ProductName}}</td>
                                <td>{{item.ProductTypeName}}</td>
                                <td>{{item.BrandName}}</td>
                                <td>{{item.Price | currency:"":0}}</td>
                                <td>{{item.Amount}}</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myEditModal" id="{{item.Price}}" onclick="FormatIt(this.id);" ng-click="returnProductId(item.id)"><i class="fas fa-edit"></i></button><button class="delete" ng-click="DeleteProduct(item.id)"><i class="fas fa-trash"></i></button></td>
                            </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Lịch sử nhập</div>
                <div class="progress-container">
                    <div class="progress-bar" id="newBar"></div>
                </div>
                <div class="admin-table" id="admin-table-new-customers" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 30%;"><a ng-click="sortProduct('ProductName')" href="javascript:void(0);">Tên sản phẩm</a></th>
                                <th style="width: 20%;"><a ng-click="sortProduct('ProductTypeName')" href="javascript:void(0);">Loại sản phẩm</a></th>
                                <th style="width: 20%;"><a ng-click="sortProduct('Amount')" href="javascript:void(0);">Số lượng</a></th>
                                <th style="width: 20%;"><a ng-click="sortProduct('TotalPrice')" href="javascript:void(0);">Tổng thanh toán</a></th>
                                <th style="width: 20%;"><a ng-click="sortProduct('CreateDate')" href="javascript:void(0);">Thời gian</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstHistory | orderBy:ProductN:reverseProduct">
                                <td>{{item.ProductName}}</td>
                                <td>{{item.ProductTypeName}}</td>
                                <td>{{item.Amount}}</td>
                                <td>{{item.TotalPrice | currency:"":0}}</td>
                                <td>{{item.CreateDate.slice(6, -2) | date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Tên sản phẩm:</p>
                            <input type="text" placeholder="Nhập tên sản phẩm..." id="txt_Add_ProductName" ng-value="txt_Add_ProductName">
                        </div>
                        <div class="col-md-4">
                            <p>Loại sản phẩm:</p>
                            <select class="list-select" id="txt_Add_Type" ng-value="txt_Add_Type">
                                <option value=""> <text style="color:silver">Chọn loại sản phẩm</text></option>
                                @foreach (var item in prdTypeList)
                                {
                                    <option value="@item.Id">@item.TypeName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Hãng:</p>
                            <select class="list-select" id="txt_Add_Brand" ng-value="txt_Add_Brand">
                                <option value=""> <text style="color:silver">Chọn hãng</text></option>
                                @foreach (var item in brandList)
                                {
                                    <option value="@item.Id">@item.BrandName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Giá bán:</p>
                            <input class="currency" type="text" placeholder="Nhập giá tiền..." id="txt_Add_SellPrice" ng-value="txt_Add_SellPrice">
                        </div>
                        <div class="col-md-4">
                            <p>Số lượng:</p>
                            <input type="text" class="numberonly" placeholder="Nhập số lượng..." id="txt_Add_Quantity" ng-value="txt_Add_Quantity">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Mô tả (Google Doc):</p>
                            <input type="text" placeholder="Nhập link Google Doc..." id="txt_Add_Doc" ng-value="txt_Add_Doc">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Bảo hành:</p>
                            <input type="text" class="numberonly" placeholder="Nhập tháng bảo hành..." id="txt_Add_Warranty" ng-value="txt_Add_Warranty">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Từ khóa:</p>
                            <input type="text" placeholder="Nhập từ khóa..." id="txt_Add_MetaTitle" ng-value="txt_Add_MetaTitle">
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <input type="file" id="myFile1" onchange="angular.element(this).scope().AddFiles(this.files)" style="display: none;" accept="image/*" multiple>
                            <button onclick="Upload()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm hình ảnh</button>
                        </div>

                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Danh sách hình ảnh chi tiết sản phẩm:</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;text-align: center;"><a href="javascript:void(0);">Ảnh chính</a></th>
                                                <th style="width: 45%;"><a href="javascript:void(0);">Tên hình ảnh</a></th>
                                                <th style="width: 30%;"><a href="javascript:void(0);">Hình ảnh</a></th>
                                                <th style="width: 5%;text-align: center;"><a href="javascript:void(0);">Xóa</a></th>
                                            </tr>
                                        </thead>
                                        <tbody id="IMG_DATA">
                                            <tr ng-repeat="item in TempIMG">
                                                <td class="checkbox"><input type="radio" value="{{item.Url}}" class="MainIMG" name="Selected"></td>
                                                <td>{{item.Name}}</td>
                                                <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="{{item.Url}}"></td>
                                                <td style="text-align: center;"><a href="javascript:void(0);" ng-click="DeleteTempIMG(item.Name)"><i class="fas fa-times"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="AddProduct()">Thêm</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sửa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-4">
                        <p>Tên sản phẩm:</p>
                        <input type="text" placeholder="Nhập tên sản phẩm..." id="Edit_Product_Name" ng-value="Product_Name">
                    </div>
                    <div class="col-md-4">
                        <p>Loại sản phẩm:</p>
                        <select class="list-select" id="Edit_Product_Type" ng-value="Product_Type">
                            <option value=""> <text style="color:silver">Chọn loại sản phẩm</text></option>
                            @foreach (var item in prdTypeList)
                            {
                                <option value="@item.Id">@item.TypeName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p>Hãng:</p>
                        <select class="list-select" id="Edit_Brand" ng-value="Brand">
                            <option value=""> <text style="color:silver">Chọn hãng</text></option>
                            @foreach (var item in brandList)
                            {
                                <option value="@item.Id">@item.BrandName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p>Giá bán:</p>
                        <input class="currency" type="text" placeholder="Nhập giá tiền..." id="Edit_Sell_Price" ng-value="Sell_Price">
                    </div>
                    <div class="col-md-4">
                        <p>Số lượng:</p>
                        <input type="text" class="numberonly" placeholder="Nhập số lượng..." id="Edit_Quantity" ng-value="Quantity">
                    </div>
                    <div class="col-md-4" style="text-align: left;">
                        <p>Mô tả (Google Doc):</p>
                        <input type="text" placeholder="Nhập link Google Doc..." id="Edit_Doc" ng-value="Doc">
                    </div>
                    <div class="col-md-4" style="text-align: left;">
                        <p>Bảo hành:</p>
                        <input type="text" class="numberonly" placeholder="Nhập tháng bảo hành..." id="Edit_Warranty" ng-value="Warranty">
                    </div>
                    <div class="col-md-4" style="text-align: left;">
                        <p>Từ khóa:</p>
                        <input type="text" placeholder="Nhập từ khóa..." id="Edit_MetaTitle" ng-value="MetaTitle">
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <input type="file" name="file" onchange="angular.element(this).scope().SelectedFiles(this.files)" id="myFile2" style="display:none;" accept="image/*">
                        <button onclick="turnUpload()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Chọn hình ảnh</button>
                    </div>
                    @*<div class="col-md-2">
                        <button id="rsFile" onclick="resetFile()">Reset</button>
                    </div>*@
                    @*<div class="col-md-2">
                        <button id="rsFile" ng-click="UploadFiles()">Submit</button>
                    </div>
                    <div class="col-12">
                        <div id="preview"></div>
                    </div>*@
                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                        <p>Danh sách hình ảnh chi tiết sản phẩm:</p>
                        <div class="Box" style="padding: 0;margin-top: 10px;">
                            <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;text-align: center;"><a href="javascript:void(0);">Ảnh chính</a></th>
                                            <th style="width: 45%;"><a href="javascript:void(0);">Tên hình ảnh</a></th>
                                            <th style="width: 30%;"><a href="javascript:void(0);">Hình ảnh</a></th>
                                            <th style="width: 5%;text-align: center;"><a href="javascript:void(0);">Xóa</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in lstImage">
                                            <td class="checkbox"><input type="radio" id="{{item.id}}" name="Selected" value="{{item.Url}}" ng-model="value" ng-Change="MainImage(value)"></td>
                                            <td>{{item.Name}}</td>
                                            <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" ng-src="{{item.Url}}"></td>
                                            <td style="text-align: center;"><a href="javascript:void(0);" ng-click="DeleteImage(item.id)"><i class="fas fa-times"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" ng-click="UpdateProduct()">Xác nhận</button>
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="ProductTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quản lý loại SP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-4">
                        <p>Tên loại SP:</p>
                        <input type="text" placeholder="Nhập tên loại sản phẩm..." id="txt_Type">
                    </div>
                    <div class="col-md-4">
                        <p>từ khóa:</p>
                        <input type="text" placeholder="Nhập từ khóa..." id="txt_Type_MetaTitle">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="AddType()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm</button>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                        <p>Danh sách các loại SP:</p>
                        <div class="Box" style="padding: 0;margin-top: 10px;">
                            <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;text-align: center;"><a href="javascript:void(0);" ng-click="sortTypeBy('id')">Id</a></th>
                                            <th style="width: 35%;text-align: center;"><a href="javascript:void(0);" ng-click="sortTypeBy('TypeName')">Tên loại SP</a></th>
                                            <th style="width: 40%;text-align: center;"><a href="javascript:void(0);" ng-click="sortTypeBy('MetaTitle')">Từ khóa</a></th>
                                            <th style="width: 15%;text-align: center;"><a href="javascript:void(0);">Hành động</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in productTypeList | orderBy:PTypeName:reverseType">
                                            <td style="text-align:center">{{item.id}}</td>
                                            <td style="text-align:center">{{item.TypeName}}</td>
                                            <td style="text-align:center">{{item.MetaTitle}}</td>
                                            <td style="text-align: center;"><a href="javascript:void(0);" ng-click="DeleteType(item.id)"><i class="fas fa-times"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>


    <div class="modal fade" id="BrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quản lý hãng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-4">
                        <p>Tên hãng:</p>
                        <input type="text" placeholder="Nhập tên hãng..." id="txt_Brand">
                    </div>
                    <div class="col-md-4">
                        <p>Từ khóa:</p>
                        <input type="text" placeholder="Nhập từ khóa..." id="txt_Brand_MetaTitle">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="AddBrand()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm</button>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                    <p>Danh sách các hãng:</p>
                    <div class="Box" style="padding: 0;margin-top: 10px;">
                        <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 10%;text-align: center;"><a href="javascript:void(0);" ng-click="sortBrandBy('id')">Id</a></th>
                                        <th style="width: 40%;text-align: center;"><a href="javascript:void(0);" ng-click="sortBrandBy('BrandName')">Tên hãng</a></th>
                                        <th style="width: 40%;text-align: center;"><a href="javascript:void(0);" ng-click="sortBrandBy('MetaTitle')">Từ khóa</a></th>
                                        <th style="width: 10%;text-align: center;"><a href="javascript:void(0);">Hành động</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in brandList | orderBy:BrandName:reverseBrand">
                                        <td style="text-align:center">{{item.id}}</td>
                                        <td style="text-align:center">{{item.BrandName}}</td>
                                        <td style="text-align:center">{{item.MetaTitle}}</td>
                                        <td style="text-align:center;"><a href="javascript:void(0);" ng-click="DeleteBrand(item.id)"><i class="fas fa-times"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>



</section>

<script>
    Active = document.getElementById("ProductManager");
    Active.className = "active-button"
    CheckAll = document.getElementById("check-all");
    table = document.getElementById("items-table");
    ItemCheckBox = table.getElementsByTagName("input");

        function previewImages() {

            var preview = document.querySelector('#preview');

            if (this.files) {
                [].forEach.call(this.files, readAndPreview);
            }

            function readAndPreview(file) {

                // Make sure `file.name` matches our extensions criteria
                if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    return alert(file.name + " is not an image");
                } // else...

                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var image = new Image();
                    image.height = 100;
                    image.title = file.name;
                    image.src = this.result;
                    preview.appendChild(image);
                });

                reader.readAsDataURL(file);
            }

        }
        document.querySelector('#myFile2').addEventListener("change", previewImages);
        function resetFile() {
            document.getElementById("myFile2").value = "";
            document.getElementById("preview").innerHTML = "";
        }
        function Upload() {
            document.getElementById("myFile1").click();
        }
        function turnUpload() {
            document.getElementById("myFile2").click();
        }
        
</script>
@section scripts{

        }
