
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title ="Category Manager";

    var catListLv1 = new CategoriesDao().getAllCatgories();
    var prdTypeList = new ProductTypeDao().ListProductType();
    var brandList = new BrandDao().ListBrand();
}
@using Data;
<section id="content" class="admin-content-container">
    <h3 style="margin: 20px;border-bottom: 1px solid #DCDCDC;padding-bottom: 16px;"><i class="fas fa-bars" style="margin-right: 10px;"></i>Quản lý danh mục</h3>
    <div class="row" style="margin: 5px;">
        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Danh mục</div>
                <div class="admin-table" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 40%;"><a href="#">Tên danh mục</a></th>
                                <th style="width: 60%;text-align: center;"><a href="#">Hoạt động</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in catList">
                                <td><a href="javascript:void(0)" style="color:black" ng-click="DetailCateLv1(item.Id)">{{item.Name}}</a></td>
                                <td class="table-product-action" style="text-align: center;"><button data-toggle="modal" ng-click="UpdateCategory(item.Id)" data-target="#suaDanhMuc1"><i class="fas fa-edit"></i></button><button class="delete" data-toggle="modal" data-target="#warningModal" ng-click="DeleteCategory(item.Id)"><i class="fas fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="CategoryAdd" data-toggle="modal" data-target="#themCategoryLv1"><i class="fas fa-plus"></i></button>
        </div>


        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Danh mục - {{CateNameLv1}}</div>
                <div class="admin-table" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 40%;"><a href="#">Tên danh mục</a></th>
                                <th style="width: 60%;text-align: center;"><a href="#">Hoạt động</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in catListLv2">
                                <td><a href="javascript:void(0)" style="color:black" ng-click="DetailCateLv2(item.category_lv2_id)">{{item.Name}}</a></td>
                                <td class="table-product-action" style="text-align: center;"><button data-toggle="modal" ng-click="UpdateCategoryLv2(item.Id)" data-target="#suaDanhMuc2"><i class="fas fa-edit"></i></button><button class="delete" data-toggle="modal" data-target="#warningModal" ng-click="DeleteCategory(item.Id)"><i class="fas fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="CategoryAdd" data-toggle="modal" data-target="#themCategoryLv2"><i class="fas fa-plus"></i></button>
        </div>



        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Danh mục - {{CateNameLv1}} - {{CateNameLv2}}</div>
                <div class="admin-table" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 40%;"><a href="#">Tên danh mục</a></th>
                                <th style="width: 60%;text-align: center;"><a href="#">Hoạt động</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in catListLv3">
                                <td>{{item.Name}}</td>
                                <td class="table-product-action" style="text-align: center;"><button data-toggle="modal" ng-click="UpdateCategoryLv3(item.Id)" data-target="#suaDanhMuc3"><i class="fas fa-edit"></i></button><button class="delete" data-toggle="modal" data-target="#warningModal"><i class="fas fa-trash" ng-click="DeleteCategory(item.Id)"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="CategoryAdd" data-toggle="modal" data-target="#themCategoryLv3"><i class="fas fa-plus"></i></button>
        </div>



    </div>
    <div class="modal fade" id="themCategoryLv1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới danh mục cấp 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Tên:</p>
                            <input type="text" placeholder="Nhập tên danh mục..." id="inp_cateNameLv1">
                        </div>
                        <div class="col-md-4">
                            <p>Lọc theo loại sản phẩm:</p>
                            <select id="sl_prdTypeLv1" class="list-select">
                                <option value="">Chọn loại sản phẩm</option>
                                @foreach (var item in prdTypeList)
                                {
                                    <option value="@item.Metatitle">@item.TypeName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Lọc theo hãng sản phẩm:</p>
                            <select id="sl_brandNameLv1" class="list-select">
                                <option value="">Chọn hãng sản phẩm</option>
                                @foreach (var item in brandList)
                                {
                                    <option value="@item.Metatitle">@item.BrandName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Giá tiền dưới: (triệu)</p>
                            <input type="text" placeholder="Nhập giá tiền..." id="inp_lowPrice">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Giá tiền trên: (triệu)</p>
                            <input type="text" placeholder="Nhập giá tiền..." id="inp_highPrice">
                        </div>
                        <div class="col-md-4" style="text-align: left;" id="inp_productKw">
                            <p>Lọc sản phẩm theo từ khóa:</p>
                            <input type="text" placeholder="Nhập từ khóa...">
                        </div>
                    </div>


                </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" ng-click="AddCategory()">Thêm</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="themCategoryLv2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới danh mục cấp 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Chọn danh mục cấp 1:</p>
                            <select id="slc_catelv1" class="list-select">
                                <option value="">Chọn danh mục</option>
                                @foreach (var item in catListLv1)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Tên:</p>
                            <input type="text" placeholder="Nhập tên danh mục..." id="inp_cateNameLv2">
                        </div>
                        <div class="col-md-4">
                            <p>Lọc theo loại sản phẩm:</p>
                            <select id="sl_prdTypeLv2" class="list-select">
                                <option value="">Chọn loại sản phẩm</option>
                                @foreach (var item in prdTypeList)
                                {
                                    <option value="@item.Metatitle">@item.TypeName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Lọc theo hãng sản phẩm:</p>
                            <select id="sl_brandNameLv2" class="list-select">
                                <option value="">Chọn hãng sản phẩm</option>
                                @foreach (var item in brandList)
                                {
                                    <option value="@item.Metatitle">@item.BrandName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Giá tiền dưới: (triệu)</p>
                            <input type="text" placeholder="Nhập giá tiền..." id="inp_lowPriceLv2">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Giá tiền trên: (triệu)</p>
                            <input type="text" placeholder="Nhập giá tiền..." id="inp_highPriceLv2">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Lọc sản phẩm theo từ khóa:</p>
                            <input type="text" placeholder="Nhập từ khóa..." id="inp_productKwLv2">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="AddCategoryLv2()">Thêm</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="themCategoryLv3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới danh mục cấp 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Chọn danh mục cấp 1:</p>
                            <select id="slc_catelv3_1" class="list-select" ng-model="selectionCat" ng-change="ReturnCateLv2()">
                                <option value="">Chọn danh mục</option>
                                <option ng-repeat="item in catList" value="{{item.Id}}">{{item.Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Chọn danh mục cấp 2: (Vui lòng chọn danh mục cấp 1)</p>
                            <select id="slc_catelv3_2" class="list-select">
                                <option value="">Chọn danh mục</option>
                                <option ng-repeat="item in cateListLv2" value="{{item.Id}}">{{item.Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Tên:</p>
                            <input type="text" placeholder="Nhập tên danh mục..." id="inp_cateNameLv3">
                        </div>
                        <div class="col-md-4">
                            <p>Lọc theo loại sản phẩm:</p>
                            <select id="sl_prdTypeLv3" class="list-select">
                                <option value="">Chọn loại sản phẩm</option>
                                @foreach (var item in prdTypeList)
                                {
                                    <option value="@item.Metatitle">@item.TypeName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Lọc theo hãng sản phẩm:</p>
                            <select id="sl_brandNameLv3" class="list-select">
                                <option value="">Chọn hãng sản phẩm</option>
                                @foreach (var item in brandList)
                                {
                                    <option value="@item.Metatitle">@item.BrandName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Giá tiền dưới: (triệu)</p>
                            <input type="text" placeholder="Nhập giá tiền..." id="inp_lowPriceLv3">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Giá tiền trên: (triệu)</p>
                            <input type="text" placeholder="Nhập giá tiền..." id="inp_highPriceLv3">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Lọc sản phẩm theo từ khóa:</p>
                            <input type="text" placeholder="Nhập từ khóa..." id="inp_productKwLv3">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="AddCategoryLv3()">Thêm</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="suaDanhMuc1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sửa danh mục cấp 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Tên:</p>
                            <input type="text" id="inp_updateCatelv1" ng-value="CateUpdate">
                            <input type="text" id="cate_id_lv1" ng-value="CateId" hidden>
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Từ khóa</p>
                            <input type="text" id="inp_updateMetatitlelv1" ng-value="MetatitleUpdate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="UpdateCategoryPost()">Sửa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="suaDanhMuc2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sửa danh mục cấp 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Danh mục lv1</p>
                            <input type="text" readonly ng-value="CateLv1">
                            <input type="text" id="cate_id_lv2" ng-value="CateId" hidden>
                        </div>
                        <div class="col-md-4">
                            <p>Tên:</p>
                            <input type="text" id="inp_updateCatelv2" ng-value="CateUpdate">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Từ khóa</p>
                            <input type="text" id="inp_updateMetatitlelv2" ng-value="MetatitleUpdate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="UpdateCategoryPostLv2()">Sửa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="suaDanhMuc3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sửa danh mục cấp 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Danh mục lv1</p>
                            <input type="text" readonly ng-value="CateLv1">
                            <input type="text" id="cate_id_lv3" ng-value="CateId" hidden>
                        </div>
                        <div class="col-md-4">
                            <p>Danh mục lv2</p>
                            <input type="text" readonly ng-value="CateLv2">
                        </div>
                        <div class="col-md-4">
                            <p>Tên:</p>
                            <input type="text" id="inp_updateCatelv3" ng-value="CateUpdate">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Từ khóa</p>
                            <input type="text" id="inp_updateMetatitlelv3" ng-value="MetatitleUpdate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="UpdateCategoryPostLv3()">Sửa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cảnh báo !!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chắc chắn muốn xóa chứ ?
                </div>
                <div class="modal-footer">
                    <button type="button">Xóa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    Active = document.getElementById("CategoryManager");
    Active.className = "active-button";
</script>

